Repository NickyMeuleman/gatsby-theme-nicky-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(deps): update dependency lint-staged to ^10.2.10
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update eslint
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update gatsby monorepo
  demo/package.json
  package.json
  theme/package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react to ^16.9.38
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to ^10.2.11
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update gatsby monorepo
  demo/package.json
  theme/package.json
  yarn.lock
Due: prettier --write

fix(deps): update mdx monorepo to ^1.6.6
  theme/package.json
  yarn.lock
Due: prettier --write

chore(deps): update commitlint monorepo to v9
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react to ^16.9.41
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/testing-library__cypress to ^5.0.6
  package.json
  theme/package.json
  yarn.lock
Due: prettier --write

fix(codeblock): explicit fontfamily
  theme/src/gatsby-plugin-theme-ui/index.js
  yarn.lock
Due: eslint --fix

chore(deps): update dependency cypress to ^4.9.0
  package.json
  yarn.lock
Due: prettier --write

feat: add series
  demo/data/posts/back-to-the-delorean/index.mdx
  demo/data/posts/i-want-it-all/index.mdx
  theme/gatsby-node.js
  theme/src/components/BlogPostPage.tsx
  theme/src/components/PostExtra.tsx
  theme/src/components/SeriesSelect.tsx
  theme/src/gatsby-plugin-theme-ui/index.js
  theme/src/templates/BlogPostQuery.tsx
  theme/src/types.ts
Due: eslint --fix, prettier --write

docs: add line about series in frontmatter
  theme/README.md
  theme/index.js
Due: eslint --fix, prettier --write

fix: nested object access
  theme/src/components/BlogPostPage.tsx
  theme/src/components/PostExtra.tsx
  theme/src/templates/BlogPostQuery.tsx
Due: eslint --fix

chore: publish
  theme/package.json
Due: prettier --write

fix(:skips): use path helper for url-building
  theme/README.md
  theme/src/components/AuthorListPage.tsx
  theme/src/components/AuthorPage.tsx
  theme/src/components/BlogPostListPage.tsx
  theme/src/components/PostCard.tsx
  theme/src/components/PostExtra.tsx
  theme/src/components/SeriesSelect.tsx
  theme/src/components/TagListPage.tsx
  theme/src/components/TagPage.tsx
Due: eslint --fix, prettier --write

chore(deps): update dependency typescript to ^3.9.6
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,yml,yaml,md,mdx}
