Repository NickyMeuleman/gatsby-theme-nicky-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{json,yml,yaml,md,mdx}": "prettier --write"
}

chore(deps): update dependency @types/react to ^16.9.34
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/theme-ui to ^0.3.1
  package.json
  yarn.lock
Due: prettier --write

build: github actions lint and format
  .github/workflows/lint-and-format.yaml
Due: prettier --write

chore(deps): update gatsby monorepo
  demo/package.json
  package.json
  theme/package.json
  yarn.lock
Due: prettier --write

chore: prettier ci config
  .github/workflows/lint-and-format.yaml
Due: prettier --write

chore: format
  .prettierignore
  demo/data/assets/authors.yaml
  theme/README.md
Due: prettier --write

chore: check flag for prettier
  package.json
Due: prettier --write

chore(deps): update react monorepo to ^16.13.1
  demo/package.json
  theme/package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency mkdirp to ^1.0.4
  theme/package.json
  yarn.lock
Due: prettier --write

fix(deps): update mdx monorepo to ^1.5.8
  theme/package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-plugin-react-hooks to v3
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update eslint
  package.json
  theme/package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react-dom to ^16.9.6
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency start-server-and-test to ^1.10.11
  package.json
  theme/package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @testing-library/cypress to v6
  package.json
  theme/package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/testing-library__cypress to ^5.0.5
  package.json
  theme/package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency cypress to ^4.4.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency start-server-and-test to ^1.11.0
  package.json
  theme/package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency concurrently to ^5.2.0
  package.json
  yarn.lock
Due: prettier --write

fix: show links in headers
  demo/data/posts/i-want-it-all/index.mdx
  theme/README.md
  theme/src/components/Headings.tsx
Due: eslint --fix, prettier --write

chore: release
  theme/package.json
Due: prettier --write

chore(deps): update dependency cypress to ^4.5.0
  package.json
  yarn.lock
Due: prettier --write

feat: add toc
  .eslintrc.js
  theme/README.md
  theme/gatsby-node.js
  theme/src/components/PostExtra.tsx
  theme/src/components/TableOfContentsList.tsx
  theme/src/hooks/useActiveId.ts
  theme/src/templates/BlogPostQuery.tsx
  theme/src/types.ts
Due: eslint --fix, prettier --write

fix(deps): update mdx monorepo to ^1.6.1
  theme/package.json
  yarn.lock
Due: prettier --write

feat(:skp): table of content tweaks
  .eslintrc.js
  demo/data/posts/i-want-it-all/index.mdx
  theme/README.md
  theme/src/components/PostExtra.tsx
  theme/src/components/TableOfContentsList.tsx
  theme/src/gatsby-plugin-theme-ui/index.js
  theme/src/hooks/useActiveId.ts
  theme/src/types.ts
Due: eslint --fix, prettier --write

feat: add table of contents for blogposts (#72)
  .eslintrc.js
  demo/data/posts/i-want-it-all/index.mdx
  theme/README.md
  theme/gatsby-node.js
  theme/src/components/PostExtra.tsx
  theme/src/components/TableOfContentsList.tsx
  theme/src/gatsby-plugin-theme-ui/index.js
  theme/src/hooks/useActiveId.ts
  theme/src/templates/BlogPostQuery.tsx
  theme/src/types.ts
Due: eslint --fix, prettier --write

chore(deps): update dependency prettier to ^2.0.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to ^10.2.2
  package.json
  yarn.lock
Due: prettier --write

chore: deps
  theme/package.json
Due: prettier --write

chore(deps): update eslint
  package.json
  yarn.lock
Due: prettier --write

revert: turn back deps to pre-toc
  .eslintrc.js
  theme/README.md
  theme/gatsby-node.js
  theme/src/components/PostExtra.tsx
  theme/src/components/TableOfContentsList.tsx
  theme/src/gatsby-plugin-theme-ui/index.js
  theme/src/hooks/useActiveId.ts
  theme/src/templates/BlogPostQuery.tsx
  theme/src/types.ts
Due: eslint --fix, prettier --write

revert: turn back deps to pre-toc (#74)
  theme/src/components/PostExtra.tsx
  theme/src/gatsby-plugin-theme-ui/index.js
Due: eslint --fix

chore: remove double import
  demo/yarn.lock
Due: none

chore: remove double import
  theme/src/components/PostExtra.tsx
  yarn.lock
Due: eslint --fix

chore: publish
  theme/package.json
Due: prettier --write

refactor: move to prism-react-renderer for code highlighting
  theme/README.md
  theme/package.json
  theme/src/components/CodeBlock.tsx
  theme/src/gatsby-plugin-theme-ui/components.js
  theme/src/gatsby-plugin-theme-ui/index.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: add line highlighting
  theme/package.json
  theme/src/components/CodeBlock.tsx
  theme/src/gatsby-plugin-theme-ui/components.js
  theme/src/gatsby-plugin-theme-ui/index.js
Due: eslint --fix, prettier --write

feat: add code title support
  demo/data/posts/i-want-it-all/index.mdx
  theme/README.md
  theme/src/components/CodeBlock.tsx
  theme/src/gatsby-plugin-theme-ui/index.js
  yarn.lock
Due: eslint --fix, prettier --write
