Repository NickyMeuleman/gatsby-theme-nicky-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{json,yml,yaml,md,mdx}": "prettier --write"
}

refactor: use variants for codeblock
  demo/data/posts/i-want-it-all/index.mdx
  theme/index.js
  theme/src/components/CodeBlock.tsx
  theme/src/gatsby-plugin-theme-ui/index.js
Due: eslint --fix, prettier --write

docs: docs for codeblocks and styling
  theme/README.md
Due: prettier --write

feat: add codeblock highlighting (#79)
  demo/data/posts/i-want-it-all/index.mdx
  theme/README.md
  theme/index.js
  theme/package.json
  theme/src/components/CodeBlock.tsx
  theme/src/gatsby-plugin-theme-ui/components.js
  theme/src/gatsby-plugin-theme-ui/index.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: lockfile
  yarn.lock
Due: none

chore: publish
  theme/package.json
Due: prettier --write

chore(deps): update dependency start-server-and-test to ^1.11.0
  theme/package.json
  yarn.lock
Due: prettier --write

chore(deps): update gatsby monorepo
  demo/package.json
  package.json
  theme/package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-plugin-react-hooks to v4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update eslint to ^2.31.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update gatsby monorepo
  demo/package.json
  theme/package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @pauliescanlon/gatsby-mdx-embed to ^0.0.19
  theme/package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to v7
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react to ^16.9.35
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/react-dom to ^16.9.8
  package.json
  yarn.lock
Due: prettier --write

chore: release
  theme/package.json
Due: prettier --write

fix(tableofcontents): remove duplicate ordered list
  theme/src/components/TableOfContentsList.tsx
Due: eslint --fix

chore: add variants
  theme/README.md
  theme/src/components/Aside.tsx
  theme/src/components/Headings.tsx
Due: eslint --fix, prettier --write

refactor: named exports
  .eslintrc.js
  theme/README.md
  theme/index.js
  theme/src/components/Aside.tsx
  theme/src/components/AuthorListPage.tsx
  theme/src/components/AuthorPage.tsx
  theme/src/components/BlogPostListPage.tsx
  theme/src/components/BlogPostPage.tsx
  theme/src/components/Header.tsx
  theme/src/components/Headings.tsx
  theme/src/components/Layout.tsx
  theme/src/components/Main.tsx
  theme/src/components/MetaListItem.tsx
  theme/src/components/Pagination.tsx
  theme/src/components/PostCard.tsx
  theme/src/components/PostExtra.tsx
  theme/src/components/SEO.tsx
  theme/src/components/TableOfContentsList.tsx
  theme/src/components/TagListPage.tsx
  theme/src/components/TagPage.tsx
  theme/src/components/mdx-components/index.tsx
  theme/src/hooks/useThemeOptions.ts
  theme/src/templates/AuthorListQuery.tsx
  theme/src/templates/AuthorQuery.tsx
  theme/src/templates/BlogPostListQuery.tsx
  theme/src/templates/BlogPostQuery.tsx
  theme/src/templates/TagListQuery.tsx
  theme/src/templates/TagQuery.tsx
Due: eslint --fix, prettier --write

chore(deps): update dependency @types/theme-ui to ^0.3.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency typescript to ^3.9.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update eslint
  package.json
  yarn.lock
Due: prettier --write

fix: import syntax
  theme/src/gatsby-plugin-theme-ui/components.js
Due: eslint --fix

fix: export syntax
  theme/src/templates/AuthorListQuery.tsx
  theme/src/templates/AuthorQuery.tsx
  theme/src/templates/BlogPostListQuery.tsx
  theme/src/templates/BlogPostQuery.tsx
  theme/src/templates/TagListQuery.tsx
  theme/src/templates/TagQuery.tsx
Due: eslint --fix
