Repository NickyMeuleman/gatsby-theme-nicky-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(:skip): lint and format deps :skip :skip
  package.json
Due: prettier --write

chore(:skip): lint updates :skip :skip
  .eslintrc.js
  .vscode/settings.json
  theme/package.json
Due: eslint --fix, prettier --write

chore(:skip): linting changes :skip :skip
  .eslintrc.cjs
  .vscode/settings.json
  package.json
  temp.eslintrc.js
  tsconfig.json
Due: eslint --fix, prettier --write

chore(:skip): lint changes only do ts lints on ts files, delete the obsolete theme package, sx prop is no longer global :skip
  .eslintrc.cjs
  package.json
  theme/package.json
  tsconfig.json
Due: prettier --write

chore(:skip): jsx pragma is not unused :skip :skip
  .eslintrc.cjs
Due: none

chore(:skip): do not lint proptypes in ts :skip :skip
  .eslintrc.cjs
Due: none

chore(:skip): allow unused function args :skip :skip
  .eslintrc.cjs
Due: none

chore(:skip): allow floating unhandled promises in jsx attributes like onclick :skip :skip
  .eslintrc.cjs
Due: none

chore(:skip): use prettier eslint plugin again :skip :skip
  .eslintrc.cjs
  package.json
Due: prettier --write

chore(:skip): try to get mdx to work https://www.gatsbyjs.com/plugins/gatsby-plugin-mdx/#updating-page-templates :skip
  theme/gatsby-config.js
  theme/gatsby-node.js
  theme/package.json
Due: eslint --fix, prettier --write

chore(:skip): wip try to get mdx to work :skip :skip
  demo/data/posts/i-want-it-all/temp-index.mdx
  theme/gatsby-node.js
  theme/src/components/BlogPostPage.tsx
  theme/src/components/Headings.tsx
  theme/src/components/Layout.tsx
  theme/src/components/Main.tsx
  theme/src/components/MetaListItem.tsx
  theme/src/components/Pagination.tsx
  theme/src/components/PostExtra.tsx
  theme/src/components/SEO.tsx
  theme/src/gatsby-plugin-theme-ui/components.js
  theme/src/templates/BlogPostQuery.tsx
  theme/src/templates/TestPostTemplate.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(:skip): add contentfilepath to created blog pages wip, still have to add the contentfilepath to post nodes :skip
  demo/data/posts/i-want-it-all/temp-index.mdx
  demo/data/posts/testpost/index.mdx
  theme/gatsby-node.js
  theme/src/components/BlogPostPage.tsx
  theme/src/gatsby-plugin-theme-ui/components.js
  theme/src/templates/BlogPostListQuery.tsx
  theme/src/templates/BlogPostQuery.tsx
  theme/src/templates/TestPostTemplate.tsx
  theme/src/templates/post-template.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: working test post rendering
  theme/gatsby-node.js
  theme/src/components/BlogPostPage.tsx
  theme/src/components/test-post.tsx
  theme/src/templates/BlogPostQuery.tsx
  theme/src/templates/post-template.js
  theme/src/templates/post-template.tsx
  yarn.lock
Due: eslint --fix

chore: rendering posts
  demo/data/posts/herp-derpsum/index.mdx
  theme/gatsby-node.js
  theme/src/components/test-post.tsx
Due: eslint --fix, prettier --write

chore: query data in post template
  theme/src/templates/post-template.tsx
Due: eslint --fix

chore: render original postpage codeblocks broken, somehow has a div inside a p now
  demo/data/posts/herp-derpsum/index.mdx
  demo/data/posts/testpost/index.mdx
  theme/gatsby-node.js
  theme/src/components/BlogPostPage.tsx
  theme/src/components/CodeBlock.tsx
  theme/src/components/test-post.tsx
  theme/src/gatsby-plugin-theme-ui/components.js
  theme/src/templates/BlogPostQuery.tsx
  theme/src/templates/post-template.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore: use github flavored markdown
  .gitignore
  .yarnrc
  theme/gatsby-config.js
  theme/package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: try to find where codeblock props are hiding
  demo/data/posts/gatsby-v4/index.mdx
  theme/src/components/mdx-components/index.tsx
Due: eslint --fix, prettier --write

chore: use codeblock manually to prove it works
  demo/data/posts/gatsby-v4/index.mdx
Due: prettier --write

chore: add rhypre plugin to read codeblock meta thanks @LekoArts !!!
  demo/data/posts/gatsby-v4/index.mdx
  theme/gatsby-config.js
  theme/package.json
  theme/src/components/mdx-components/index.tsx
  theme/src/utils.js
  yarn.lock
Due: eslint --fix, prettier --write

docs: document math support in demo
  demo/gatsby-config.js
  theme/README.md
Due: eslint --fix, prettier --write

chore(use gatsby head ): https://www.gatsbyjs.com/docs/reference/built-in-components/gatsby-head/
  demo/data/posts/i-want-it-all/index.mdx
  demo/gatsby-ssr.js
  theme/package.json
  theme/src/components/AuthorListPage.tsx
  theme/src/components/AuthorPage.tsx
  theme/src/components/BlogPostListPage.tsx
  theme/src/components/BlogPostPage.tsx
  theme/src/components/SEO.tsx
  theme/src/components/TagListPage.tsx
  theme/src/components/TagPage.tsx
  theme/src/templates/AuthorListQuery.tsx
  theme/src/templates/AuthorQuery.tsx
  theme/src/templates/BlogPostListQuery.tsx
  theme/src/templates/BlogPostQuery.tsx
  theme/src/templates/TagListQuery.tsx
  theme/src/templates/TagQuery.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore: remove react helmet and gatsby plugin
  package.json
  theme/README.md
  theme/gatsby-config.js
  theme/package.json
  theme/src/templates/BlogPostQuery.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore: colocate all template paths
  theme/gatsby-node.js
Due: eslint --fix

chore: use findall instead of getallnodes https://www.gatsbyjs.com/docs/reference/release-notes/migrating-from-v3-to-v4/#nodemodelgetallnodes-is-deprecated
  theme/gatsby-node.js
Due: eslint --fix

chore: document json and yaml potential changes
  theme/README.md
Due: prettier --write

chore: ts and eslint
  theme/src/components/BlogPostPage.tsx
  theme/src/components/PostExtra.tsx
  theme/src/templates/BlogPostQuery.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

chore: eslint and ts warnings
  .eslintrc.cjs
  temp.eslintrc.js
  theme/gatsby-config.js
  theme/gatsby-node.js
  theme/src/templates/BlogPostQuery.tsx
  theme/src/utils.js
Due: eslint --fix

chore: delete yarnrc
  .yarnrc
Due: none

chore: explicitly use themed headings
  theme/src/components/Headings.tsx
Due: eslint --fix

chore: inlinecode is no longer a thing in mdx2 style code directly instead since we already intercept pre tags https://github.com/wooorm/xdm/issues/3
  theme/src/components/mdx-components/index.tsx
  theme/src/gatsby-plugin-theme-ui/index.js
Due: eslint --fix

chore: change json frontmatter to yml mdx2 Removed the ability to use js and json in frontmatter https://www.gatsbyjs.com/plugins/gatsby-plugin-mdx/#graphql-mdx-node-structure
  demo/data/posts/a-sample-draft-post/index.mdx
  demo/data/posts/back-to-the-delorean/index.mdx
  demo/data/posts/brains-ipsum/index.mdx
  demo/data/posts/cupcake-ipsum/index.mdx
  demo/data/posts/herp-derpsum/index.mdx
  demo/data/posts/veggie-ipsum/index.md
Due: prettier --write

chore: no more code inside a header the tableofcontents text field ignores what is inside the codefence https://github.com/gatsbyjs/gatsby/discussions/36829
  demo/data/posts/i-want-it-all/index.mdx
Due: prettier --write

chore: fix build use hacky meaningless from string in the proxy directive https://github.com/datocms/gatsby-source-datocms/issues/188
  theme/README.md
  theme/gatsby-node.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: update packages
  .yarnrc
  package.json
  theme/package.json
  yarn.lock
Due: prettier --write

chore: update commitlint
  package.json
  yarn.lock
Due: prettier --write

chore: update husky and lint-staged
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
  package.json
  yarn.lock
Due: prettier --write

chore: delete yarnrc to make ci run again
  .yarnrc
Due: none

chore: set yarn policy again to make installing packages locally work locally ran yarn policies command and gitignored the resulting yarnrc
  .gitignore
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,yml,yaml,md,mdx}
