Repository NickyMeuleman/gatsby-theme-nicky-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{json,yml,yaml,md,mdx}": "prettier --write"
}

chore(deps): update dependency @testing-library/cypress to ^7.0.1
  package.json
  theme/package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/testing-library__cypress to ^5.0.8
  package.json
  theme/package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/theme-ui to ^0.3.7
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update eslint
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update gatsby monorepo
  demo/package.json
  theme/package.json
  yarn.lock
Due: prettier --write

chore(commitlint): allow infinite body length in commit messages
  .commitlintrc.json
  commitlint.config.js
Due: eslint --fix, prettier --write

fix: handle async creation of pages in a loop
  demo/data/notes/first-note/index.mdx
  theme/gatsby-node.js
Due: eslint --fix, prettier --write

fix: gatsby image component api
  theme/src/components/BlogPostPage.tsx
  yarn.lock
Due: eslint --fix

fix: gatsby image component api (#195)
  theme/src/components/BlogPostPage.tsx
  yarn.lock
Due: eslint --fix

chore(deps): update dependency cypress to v5
  package.json
Due: prettier --write

feat(codeblock): support line numbering
  demo/data/posts/i-want-it-all/index.mdx
  theme/src/components/CodeBlock.tsx
  theme/src/gatsby-plugin-theme-ui/index.js
Due: eslint --fix, prettier --write

docs(codeblock): line numbering documentation
  demo/data/posts/i-want-it-all/index.mdx
  theme/README.md
  theme/src/components/CodeBlock.tsx
Due: eslint --fix, prettier --write

feat: support line numbering in codeblocks (#196)
  demo/data/posts/i-want-it-all/index.mdx
  theme/README.md
  theme/src/components/CodeBlock.tsx
  theme/src/gatsby-plugin-theme-ui/index.js
Due: eslint --fix, prettier --write

chore(deps): update dependency @types/react to ^16.9.50
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-react to ^7.21.3
  package.json
Due: prettier --write

chore(deps): update dependency start-server-and-test to ^1.11.5
  package.json
  theme/package.json
Due: prettier --write

chore(deps): update gatsby monorepo
  demo/package.json
  package.json
  theme/package.json
Due: prettier --write

chore(deps): update dependency @types/react to ^16.9.52
  package.json
Due: prettier --write

chore(deps): update eslint
  package.json
Due: prettier --write

chore(deps): update gatsby monorepo
  demo/package.json
  theme/package.json
Due: prettier --write

chore: recreate yarn lock
  yarn.lock
Due: none

chore(publish): :skip
  theme/package.json
Due: prettier --write

chore(deps): update dependency @types/react to ^16.9.53
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency cypress to ^5.4.0
  package.json
  yarn.lock
Due: prettier --write
