Repository NickyMeuleman/gatsby-theme-nicky-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{json,yml,yaml,md,mdx}": "prettier --write"
}

fix: make sure an element exists to unobserve
  theme/src/hooks/useActiveId.ts
Due: eslint --fix

chore: update version
  theme/package.json
  yarn.lock
Due: prettier --write

chore: update devdeps
  yarn.lock
Due: none

chore: yarn policy
  README.md
Due: prettier --write

chore: update gatsby dep
  yarn.lock
Due: none
