Repository NickyMeuleman/gatsby-theme-nicky-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(deps): update dependency @types/react to ^16.9.43
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/theme-ui to ^0.3.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-plugin-react-hooks to v4.0.7
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency start-server-and-test to ^1.11.2
  package.json
  theme/package.json
  yarn.lock
Due: prettier --write

chore(deps): update commitlint monorepo to ^9.1.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update gatsby monorepo
  demo/package.json
  package.json
  theme/package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency typescript to ^3.9.7
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update eslint
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update gatsby monorepo
  demo/package.json
  theme/package.json
  yarn.lock
Due: prettier --write

fix(deps): update mdx monorepo to ^1.6.11
  theme/package.json
  yarn.lock
Due: prettier --write

feat(wip): theme option data infrastructure
  demo/data/boops/booped.mdx
  demo/data/notes/first-note/index.mdx
  demo/gatsby-config.js
  theme/gatsby-config.js
  theme/gatsby-node.js
  theme/src/hooks/useThemeOptions.ts
  theme/src/types.ts
  theme/src/utils.js
Due: eslint --fix, prettier --write

chore(deps): update dependency eslint-plugin-react to ^7.20.4
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update mdx monorepo to ^1.6.14
  theme/package.json
  yarn.lock
Due: prettier --write

feat(wip): pagination support for multiple instances
  demo/data/boops/boop.mdx
  demo/data/boops/booped.mdx
  demo/data/notes/first-note/index.mdx
  demo/gatsby-config.js
  theme/gatsby-node.js
  theme/src/components/AuthorPage.tsx
  theme/src/components/BlogPostListPage.tsx
  theme/src/components/Pagination.tsx
  theme/src/components/PostCard.tsx
  theme/src/components/PostExtra.tsx
  theme/src/components/SeriesSelect.tsx
  theme/src/templates/AuthorQuery.tsx
  theme/src/templates/BlogPostListQuery.tsx
  theme/src/templates/BlogPostQuery.tsx
Due: eslint --fix, prettier --write

feat(wip): tag support for multiple instances
  demo/data/boops/boop.mdx
  theme/gatsby-node.js
  theme/src/components/TagListPage.tsx
  theme/src/components/TagPage.tsx
  theme/src/templates/TagListQuery.tsx
  theme/src/templates/TagQuery.tsx
Due: eslint --fix, prettier --write

refactor(wip): use basepath more and commit types
  theme/gatsby-node.js
  theme/src/components/PostExtra.tsx
  theme/src/templates/BlogPostListQuery.tsx
  theme/src/templates/BlogPostQuery.tsx
  theme/src/types.ts
Due: eslint --fix

feat(wip): support for multiple basepaths in seo component
  demo/gatsby-config.js
  theme/README.md
  theme/src/components/BlogPostListPage.tsx
  theme/src/components/BlogPostPage.tsx
  theme/src/components/SEO.tsx
  theme/src/components/TagListPage.tsx
  theme/src/components/TagPage.tsx
  theme/src/types.ts
Due: eslint --fix, prettier --write

docs(wip): multiple instances docs
  demo/data/boops/boop.mdx
  demo/gatsby-config.js
  theme/README.md
Due: eslint --fix, prettier --write

docs(wip): add to instace documentation
  theme/README.md
  theme/src/templates/BlogPostQuery.tsx
Due: eslint --fix, prettier --write

refactor(wip): unneeded bits and bobs
  theme/gatsby-node.js
  theme/src/types.ts
Due: eslint --fix

feat: support multiple instances (#142)
  demo/data/notes/first-note/index.mdx
  demo/gatsby-config.js
  theme/README.md
  theme/gatsby-config.js
  theme/gatsby-node.js
  theme/src/components/AuthorPage.tsx
  theme/src/components/BlogPostListPage.tsx
  theme/src/components/BlogPostPage.tsx
  theme/src/components/Pagination.tsx
  theme/src/components/PostCard.tsx
  theme/src/components/PostExtra.tsx
  theme/src/components/SEO.tsx
  theme/src/components/SeriesSelect.tsx
  theme/src/components/TagListPage.tsx
  theme/src/components/TagPage.tsx
  theme/src/hooks/useThemeOptions.ts
  theme/src/templates/AuthorQuery.tsx
  theme/src/templates/BlogPostListQuery.tsx
  theme/src/templates/BlogPostQuery.tsx
  theme/src/templates/TagListQuery.tsx
  theme/src/templates/TagQuery.tsx
  theme/src/types.ts
  theme/src/utils.js
Due: eslint --fix, prettier --write

chore: publish
  theme/package.json
Due: prettier --write

chore(deps): update dependency @types/react to ^16.9.44
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/theme-ui to ^0.3.6
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,yml,yaml,md,mdx}
